In [2]:
student_detail = []
def get_details(num1):
    for i in range(num1):
        new_std = []
        name = input("Entrer the name of the students: ")
        age = int(input("Enter the age of the student: "))
        address = input("Enter the address of the student: ")
        mark = float(input("Enter the mark of the student: "))
        new_std.append(name)
        new_std.append(age)
        new_std.append(address)
        new_std.append(mark)
        list_as_string = ",".join(str(item) for item in new_std)
        file = open("std2.csv",'a')
        file.write(list_as_string)
        file.write("\n")
        file.close()
        student_detail.append(new_std)
    print(student_detail)
j = 1
while j <= 5:
    try:
        num = int(input("Enter the number of the student: "))
        get_details(num)
        break

    except Exception as ex:
        j+=1
        print(ex.__doc__)
        if j == 5:
            print("sorry your session expired")

Enter the number of the student: 2
Entrer the name of the students: mk
Enter the age of the student: 22
Enter the address of the student: kpn
Enter the mark of the student: 88
Entrer the name of the students: avishek
Enter the age of the student: 22
Enter the address of the student: kpn
Enter the mark of the student: 77
[['mk', 22, 'kpn', 88.0], ['avishek', 22, 'kpn', 77.0]]

In [3]:
import pandas as pd

In [13]:
df = pd.read_csv("std2.csv")
df

      name  age address  mark
0       mk   25     kpn  88.0
1  avishek   22     kpn  77.0

In [12]:
df.loc[:,"name"]

0         mk
1    avishek
Name: name, dtype: object

In [17]:
df[df["age"]>23]

  name  age address  mark
0   mk   25     kpn  88.0