In [1]:
student={
    'name': 'ram',
    'age': 22,
    'mark': 77.5,
    'address': ['ktm','pkr']
}
print(student)

{'name': 'ram', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'pkr']}

In [2]:
print(type(student))

<class 'dict'>

In [3]:
print(student.keys())

dict_keys(['name', 'age', 'mark', 'address'])

In [4]:
print(student.values())

dict_values(['ram', 22, 77.5, ['ktm', 'pkr']])

In [5]:
print(student.items())

dict_items([('name', 'ram'), ('age', 22), ('mark', 77.5), ('address', ['ktm', 'pkr'])])

In [6]:
for i in student:
    print(i)

name
age
mark
address

In [7]:
for i in student.values():
    print(i)

ram
22
77.5
['ktm', 'pkr']

In [8]:
for keys,values in student.items():
    print(f"key is {keys} and value is {values}")

key is name and value is ram
key is age and value is 22
key is mark and value is 77.5
key is address and value is ['ktm', 'pkr']

In [9]:
print(student['name'])

ram

In [10]:
student['name'] = 'shyam'
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'pkr']}

In [11]:
print(student['address'])

['ktm', 'pkr']

In [12]:
print(student['address'][0])

ktm

In [14]:
student['address'].insert(2,'Thailand')
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'Thailand', 'Thailand', 'pkr']}

In [15]:
student['address'].pop()
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'Thailand', 'Thailand']}

In [16]:
student['address'].pop(0)
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['Thailand', 'Thailand']}

In [35]:
if 'Thailand' in student['address']:
    print("Thailand is here")
    print(student['address'].count('Thailand'))
    student['address'].append('Thailand')

In [36]:
if 'Thailand' in student['address']:
    print("Thailand is here")
    print(student['address'].count('Thailand'))
#     student['address'].remove('Thailand')    
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': []}

In [39]:
student['address'].insert(2,'Thailand')
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['Thailand', 'Thailand', 'Thailand']}

In [59]:
l1 = ['Thailand', 'Thailand','Bali','Thailand','ktm']
print(l1)

['Thailand', 'Thailand', 'Bali', 'Thailand', 'ktm']

In [61]:
ln = len(l1)

In [64]:
for i in range(ln):
    print(i)
#     if l1[i] == 'Thailand':
#         del l1[i]
print(l1)

0
1
2
3
4
['Thailand', 'Bali', 'ktm']

In [76]:
l1 = ['Thailand', 'Thailand','Bali','Thailand','ktm']
print(l1)

['Thailand', 'Thailand', 'Bali', 'Thailand', 'ktm']

In [77]:
del l1[0:3]

In [78]:
print(l1)

['Thailand', 'ktm']

In [81]:
l1 = ['Thailand','xyz', 'Thailand','Bali','Thailand','ktm']
# l1.remove('Thailand')
print(l1)

['Thailand', 'xyz', 'Thailand', 'Bali', 'Thailand', 'ktm']

In [82]:
a = l1.count('Thailand')
print(a)

3

In [84]:
for item,index in enumerate(l1):
    print(f"{item} {index}")

0 Thailand
1 xyz
2 Thailand
3 Bali
4 Thailand
5 ktm

In [86]:
for item,index in enumerate(l1):
    if 'Thailand' in index:
        l1.remove('Thailand')

In [87]:
print(l1)

['xyz', 'Bali', 'ktm']

In [88]:
a = l1.pop()
print(l1)

['xyz', 'Bali']

In [89]:
print(a)

ktm

In [101]:
def fun1(a, b, c = 0):
      print(a,b,c)
    
fun1(22,33)

22 33 0

In [102]:
fun1(22,33,44)

22 33 44

In [104]:
def fun1(*args):
    print(args)

fun1(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [105]:
fun1([3,4,5])

([3, 4, 5],)

In [106]:
def add():
    num1 = int(input("Enter num1 "))
    num2 = int(input("Enter num2 "))
    c = num1 + num2
    print(f"Sum is {c}")
    print("This is some next stuff")

add()

print("Ke cha khabar?")

add()

Enter num1 22
Enter num2 33
Sum is 55
This is some next stuff
Ke cha khabar?
Enter num1 2
Enter num2 3
Sum is 5
This is some next stuff