In [ ]:
std_detail = []
n = int(input("Enter the number of students: "))
for i in range(n):
    new_std = []
    name = input("Enter the name: ")
    age = int(input("enter age: "))
    marks = float(input("enter marks"))
    new_std.append(name)
    new_std.append(age)
    new_std.append(marks)
    std_detail.append(new_std)

    
print(std_detail)

In [1]:
import csv
import pandas as pd

In [2]:
std_detail2 = []
def add_detail(n1:int)->None:
    for i in range(n1):
            new_std1 = []
            name = input("Enter the name: ")
            age = int(input("enter age: "))
            marks = float(input("enter marks: "))
            new_std1.append(name)
            new_std1.append(age)
            new_std1.append(marks)
            std_detail2.append(new_std1)
    return std_detail2
while True:
    try:
        n = int(input("Enter the number of students: "))
        std_detail2 = add_detail(n)
        print(std_detail2)
        with open('student_details.csv', 'a', newline='') as file:
                writer = csv.writer(file)
                writer.writerow(['Name', 'Age', 'Marks'])
                writer.writerows(std_detail2)
        print("Student details stored successfully.")
        break

    except Exception as ex:
        print(ex.__doc__)

Enter the number of students: 2
Enter the name: avishek
enter age: 22
enter marks: 55
Enter the name: ram
enter age: 45
enter marks: 99
[['avishek', 22, 55.0], ['ram', 45, 99.0]]
Student details stored successfully.

In [3]:
df = pd.read_csv("student_details.csv")
df

      Name  Age  Marks
0  avishek   22   55.0
1      ram   45   99.0

In [7]:
df[df["Marks"]>70]

  Name  Age  Marks
1  ram   45   99.0

In [9]:
df.iloc[:,1]

0    22
1    45
Name: Age, dtype: int64

In [10]:
df.loc[1,'Name']

'ram'

In [13]:
df.Marks.iloc[:]

0    55.0
1    99.0
Name: Marks, dtype: float64