In [2]:
i = 1
while i < 10:
    print(f"Hello {i}")
    i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [3]:
i = 1
while i < 10:
    print(f"Hello {i}")
    if i == 5:
        break
    i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [5]:
i = 1
while i < 10:
    if i == 5:
        i+=1
        continue
    print(f"Hello {i}")
    i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 6
Hello 7
Hello 8
Hello 9

In [7]:
i = 1
while i < 10:
    if i == 5:
#         i+=1
        pass
    print(f"Hello {i}")
    i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [9]:
def func1():
    print("This is inside func1")
    
print("This is test")

This is test

In [11]:
def func1():
    pass
    
print("This is test")

This is test

In [13]:
user_choice = input("Enter add or sub ")
if user_choice == 'add':
    print("Inside add")
elif user_choice == 'sub':
    print("Inside sub")

Enter add or sub sub
Inside sub

In [14]:
user_choice = input("Enter add or sub ")
match user_choice:
    case 'add':
        print("Inside add")
    case 'sub':
        print("Inside sub")

SyntaxError: invalid syntax (2966916520.py, line 2)

In [15]:
user_choice = input("Enter add or sub ")
match user_choice:
    case 'add':
        print("Inside add")
    case 'sub':
        print("Inside sub")
    case _:
        print("Invalid")

SyntaxError: invalid syntax (149971732.py, line 2)

In [16]:
def func1(a,b):
    print(f"{a} and {b}")
    
    
func1(22,33)

22 and 33

In [17]:
def func1(a,b):
    print(f"{a} and {b}")
    
    
func1(22, 33, 55)

TypeError: func1() takes 2 positional arguments but 3 were given

In [18]:
def func1(a,b,c):
    print(f"{a} and {b} and {c}")
    
    
func1(22, 33, 55)

22 and 33 and 55

In [19]:
def func1(a,b,c):
    print(f"{a} and {b} and {c}")
    
    
func1(22, 33)

TypeError: func1() missing 1 required positional argument: 'c'

In [20]:
def func1(a,b,c=0):
    print(f"{a} and {b} and {c}")
    
    
func1(22, 33)

22 and 33 and 0

In [22]:
def func1(a,b,c=0):
    print(f"{a} and {b} and {c}")
    
    
func1(a=22, b=33)

22 and 33 and 0

In [24]:
def func1(*args):
    print(args, type(args))
    
    
func1(22, 33)
func1(22, 33, 55)
func1(22, 33, 71, 61)

(22, 33) <class 'tuple'>
(22, 33, 55) <class 'tuple'>
(22, 33, 71, 61) <class 'tuple'>

In [26]:
def func1(*args):
    for i in args:
        print(i, type(i))
    
    
func1(22, 33)
func1(22, 33, 55)
func1(22, 33, 71, 61)

22 <class 'int'>
33 <class 'int'>
22 <class 'int'>
33 <class 'int'>
55 <class 'int'>
22 <class 'int'>
33 <class 'int'>
71 <class 'int'>
61 <class 'int'>

In [27]:
def func1(*args):
    print(args)
    
    
func1(name='ram', age = 22, mark = 77.5)

TypeError: func1() got an unexpected keyword argument 'name'

In [29]:
def func1(**kwargs):
    print(kwargs, type(kwargs))
    
    
func1(name='ram', age = 22, mark = 77.5)

{'name': 'ram', 'age': 22, 'mark': 77.5} <class 'dict'>

In [30]:
def func1(**kwargs):
    for i in kwargs:
        print(i)
    
    
func1(name='ram', age = 22, mark = 77.5)

name
age
mark

In [31]:
def func1(**kwargs):
    for i in kwargs.keys():
        print(i)
    
    
func1(name='ram', age = 22, mark = 77.5)

name
age
mark

In [32]:
def func1(**kwargs):
    for i in kwargs.values():
        print(i)
    
    
func1(name='ram', age = 22, mark = 77.5)

ram
22
77.5

In [33]:
def func1(**kwargs):
    for i in kwargs.items():
        print(i)
    
    
func1(name='ram', age = 22, mark = 77.5)

('name', 'ram')
('age', 22)
('mark', 77.5)

In [34]:
def func1(**kwargs):
    for key in kwargs.items():
        print(key)
    
    
func1(name='ram', age = 22, mark = 77.5)

('name', 'ram')
('age', 22)
('mark', 77.5)

In [35]:
def func1(**kwargs):
    for key,value in kwargs.items():
        print(key, value)
    
    
func1(name='ram', age = 22, mark = 77.5)

name ram
age 22
mark 77.5

In [38]:
def func1(**kwargs):
    for i in kwargs.items():
        key,value = i
        print(key, value)
    
    
func1(name='ram', age = 22, mark = 77.5)

name ram
age 22
mark 77.5